@import "./base/_reset.css";
@import "./base/_variables.css";
@import "./base/_typography.css";
@import "components/navbar.css";
@import "components/mobile-sidebar.css";
@import "./components/search-bar.css";
@import "./components/main.css";
@import "./components/tabs.css";
@import "./components/card.css";
@import "./components/db-search-bar.css";
@import "./components/calc.css";
@import "./components/scrollable-list.css";
@import "./components/desktop-sidebar.css";

html,
body {
  min-height: fit-content;
}
.app-container {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}
.title {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--primary-color);
}

.desktop {
  display: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media (min-width: 1440px) {
  .desktop {
    display: revert !important;
  }
  .mobile {
    display: none !important;
  }
}
