.calc__container {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.calc__content {
  background-color: #ffffff;
  border: 2px solid #33333320;
  width: 100%;
  border-radius: 8px;
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
.calc__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.calc__label p {
  color: #7d9b9d;
}

.calc__label {
  position: relative;
  width: 100%;
}
.calc__input__wrapper {
  position: relative;
  width: 100%;
}

.calc__input__unit {
  position: absolute;
  font-weight: bold;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.calc__label__title {
  font-weight: bold;
}

.calc__input {
  width: 100%;
  border: 1px solid #7d9b9d50;
  background-color: #7d9b9d20;
  border-radius: 8px;
  padding: 4px 8px;
}

.calc__input:focus {
  outline: none;
}

.calc__title p {
  font-weight: 600;
}

.select-wrapper {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.select-input {
  width: 100%;
  padding: 4px 8px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  background-color: #7d9b9d20;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: ellipsis;
  padding-right: 20%;
  cursor: pointer;
}

.select-arrow {
  position: absolute;
  background-color: #d2dcdd;
  overflow: hidden;
  right: 0;
  min-width: 50px;
  width: 10%;
  border: 8px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #666;
  font-size: 12px;
}

/* Focus state */
.select-input:focus {
  outline: none;
  border-color: rgba(74, 144, 226, 0.2);
}

/* Disabled state */
.select-input:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 0.7;
}

.calc__button {
  background-color: #2cadb4;
  color: white;
  border-radius: 16px;
  font-weight: 500;
  padding: 8px 32px;
}

@media (min-width: 1440px) {
  .calc__container {
    padding: 2rem;
  }
  .calc__input__unit {
    font-size: 1.2rem;
    right: 16px;
  }
  .calc__content {
    padding: 2rem 2rem;
  }
  .select-input,
  .calc__input {
    padding: 0.75rem;
    border-radius: 16px;
    font-size: 1.2rem;
  }
  .calc__button {
    font-size: 1.3rem;
    border-radius: 32px;
    padding: 8px 64px;
  }

  .select-input {
    border-radius: 16px;
  }

  .select-arrow {
    border-radius: 0 16px 16px 0;
    font-size: 1.3rem;
  }
  .calc__form {
    gap: 16px;
  }
}
