/* db-search Container */
.db-search-container {
  padding: 2rem 0.5rem;
  width: 100%;
}

.db-search-title {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
}

.db-search-bar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  outline: 8px solid white;
  border: 1px solid #33333350;
  border-radius: 32px;
  overflow: hidden;
  padding: 0.25rem 0.5rem;
  height: 48px;
}

.db-select {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.db-select {
  position: relative;
  height: 100%;
  display: inline-flex;
  align-items: center;
  min-width: 40px;
}
.db-select__chevron {
  position: absolute;
  pointer-events: none;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.db-select select {
  position: relative;
  width: auto;
  min-width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  padding-right: 24px;
}

.db-select select::-ms-expand {
  display: none;
}

.db-select select:focus {
  outline: none;
  box-shadow: none;
}

.db-search-text {
  border: none;
  color: #9e9e9e;
  background-color: transparent;
  outline: none;
}

.db-search-button {
  border: none;
  height: 100%;
  display: flex;
  border-radius: 50%;
  padding: 8px;
  background-color: #2cadb420;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.db-search-icon {
  width: 20px;
  height: 20px;
}

@media (min-width: 1440px) {
  .db-search-container {
    padding: 0.75rem 1rem;
    width: 100%;
    height: fit-content;
  }
  .db-search-bar {
    width: 100%;
    height: fit-content;
    padding: 1rem 1rem;
    outline: 12px solid white;
  }

  .db-search-text,
  .db-select {
    font-size: 1.25rem;
  }

  #database-select {
    font-size: 1.1rem;
  }
}
