.desktop-sidebar {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 32px;
}
.desktop-sidebar__nav {
  display: flex;
  flex-direction: column;
}
.desktop-sidebar__banner {
  margin-top: 50px;
  width: 100%;
  padding: 1rem;
}

.desktop-sidebar__banner img {
  width: 100%;
  height: auto;
}
.desktop-sidebar__guide {
  width: 100%;
  height: 100vh;
}

.desktop-sidebar__container {
  position: fixed;
  top: 130px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.desktop-sidebar__item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
  gap: 0.75rem;
  transition: background-color 0.2s;
  border-radius: 4px;
  margin: 0.25rem 0.5rem;
}

.desktop__icon {
  width: 34px;
  height: 34px;
  transform: scale(1.3);
  display: grid;
  place-content: center;
}

.desktop-sidebar__item:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
}

.desktop-sidebar__link {
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
}

.desktop-sidebar__footer {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  border-top: 1px solid #eee;
}

.desktop-sidebar__logout img {
  transform: scale(1.3);
}
.desktop-sidebar__logout {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  background: none;
  border: none;
  color: #e74c3c;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  width: 100%;
  text-align: left;
  border-radius: 4px;
  transition: all 0.2s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
