.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bannerWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.bannerWrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 16px;
}

.secondColumn .bannerWrapper img {
  max-width: 1000px;
  height: auto;
}

.thirdColumn .bannerWrapper img {
  max-width: 700px;
  height: auto;
}

.secondColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 1440px) {
  .main {
    display: grid;
    max-width: 100vw;
    height: 100%;
    padding-top: 2rem;
    grid-template-columns: 380px 2fr 1fr;
  }
  .secondColumn {
    min-width: 0;
    width: 100%;
    justify-content: space-between;
  }
  .thirdColumn {
    min-width: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
