.scrollable-list-container {
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  position: relative;
  background-color: white;
  border-radius: 16px;
  padding: 16px 40px;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.scroll-button--right {
  right: 8px;
}

.scroll-button--left {
  left: 8px;
}

.scrollable-list {
  width: 100%;
  overflow: hidden;
}

.scrollable-content {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* optional */
}

.item-content {
  color: #7d9b9d;
}
.scrollable-item {
  flex: 0 0 auto;
  margin-right: 16px;
  width: 150px;
  border-radius: 16px;
  background-color: #2cadb420;
  border: 2px solid #2cadb440;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1440px) {
  .scrollable-list-container {
    min-width: 0;
    width: 100%;
    padding: 16px 60px;
  }

  .scroll-button--right {
    right: 16px;
  }

  .scroll-button--left {
    left: 16px;
  }

  .scrollable-item {
    width: 200px;
  }
  .list-wrapper {
    max-width: 100%;
  }

  .scrollable-list {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .scrollable-content {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE and Edge */
  }
}
