/* Search Container */
.search-container {
  padding: 2rem 0.5rem;
  width: 100%;
}

.search-bar {
  background-color: #2cadb410;
  display: flex;
  align-items: center;
  outline: 8px solid white;
  border: 1px solid #33333350;
  border-radius: 32px;
  overflow: hidden;
  max-width: 800px;
  padding: 0.25rem 0.5rem;
  height: 48px;
}

.search-input {
  flex: 1;
  border: none;
  padding: 1rem 0.5rem;
  color: #333;
  background-color: transparent;
  height: 100%;
  outline: none;
}

.search-input::placeholder {
  color: #9e9e9e;
  opacity: 1;
}

.search-button {
  border: none;
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-icon {
  width: 20px;
  height: 20px;
}

/* @media (min-width: 768px) {
  .search-container {
    padding: 0.75rem 1rem;
  }

  .search-bar {
    height: 44px;
  }

  .search-input {
    font-size: 0.9rem;
    padding: 0 0.75rem;
  }

  .search-button {
    width: 44px;
  }

  .search-icon {
    width: 18px;
    height: 18px;
  }
} */
